<template name="home">
  <div id="home">
  	<div class="hero">
  	  <div class="overlay"></div>

  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
  					<h2>Find and manage properties that work for you</h2>
  				</div>

  				<div class="col-xs-12">
  					<img src="/images/hero-browser.png" class="img-responsive">
  				</div>
  			</div>
  		</div>
  	</div>

  	<div id="content">
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12">
  					<h2><i>What is Proply?</i></h2>
  				</div>
  				<div class="col-xs-12 col-md-6">
  					<h4>Our purpose</h4>
  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  					<h4>The extension</h4>
  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  				</div>

  				<div class="col-xs-6"></div>
  			</div>
  		</div>

  		<img src="/images/laptop.png" class="img-laptop hidden-xs hidden-sm">
  	</div>

  	<div id="under-content">
  		<div class="container-fluid">
  			<div class="row">
  				<div class="col-xs-9 bg-main-blue">
  					<a href="{{pathFor 'watchlist'}}"><h3><i>Your property, evaluated properly</i></h3></a>
  				</div>
  				<div class="col-xs-3 bg-orange">
  					<a href="{{pathFor 'signup'}}"><h3>Sign Up</h3></a>
  				</div>
  			</div>
  		</div>
  	</div>

  	<footer>
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-6">
  					<h4>Links</h4>
  					<ul>
  						<li><a href="#">Term and Conditions</a></li>
  						<li><a href="#">About Us</a></li>
  						<li><a href="#">Our Team</a></li>
  						<li><a href="#">Frequently Asked Questions</a></li>
  					</ul>
  				</div>
  				<div class="col-xs-6">
  					<ul class="text-right">
  						<li><a href="#"><h4>Email</h4></a></li>
  						<li><a href="#"><h4>Facebook</h4></a></li>
  						<li><a href="#"><h4>Twitter</h4></a></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  	</footer>
  </div>
</template>
